/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap"); */
/* Variables */

:root {
  /* 
    The :root CSS pseudo-class matches the root element of a tree representing the document. 
    In HTML, :root represents the <html> element and is identical to the selector html,
    except that its specificity is higher 
    */

  /* Colors */
  /* 
    Color mode: HSL -> Hue-Saturation-Lightness
    Blue: hsl(207, 90%, 61%)
    TO DO 
    */

  --hue: 207;
  --sat: 90%;
  --lig: 61%;

  --first-color: hsl(var(--hue), var(--sat), var(--lig));
  --first-color-alt: hsl(
    var(--hue),
    var(--sat),
    57%
  ); /* subtract 4% from lightness */
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 12%, 45%);
  --text-color: hsl(var(--hue), 8%, 75%);
  --text-color-lighten: hsl(var(--hue), 8%, 92%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;

  /* Fonts and Typography */
  /* 
    .5 rem : 8px
    1 rem : 16px 
    */
  /* --body-font: "Poppins", sans-serif; */
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
}

/* Responsive Typography   */
@media screen and (min-width: 968px) {
  :root {
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* Base */
* {
  /* https://www.w3schools.com/css/css3_box-sizing.asp */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins";
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*  */
.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}
